.store-description {
  display: flex;
  align-items: center; 
  gap: 50px; 
  margin-top: 5%;
}

  
  .store-description h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .store-description p {
    font-size: 16px;
    color: #555;
    text-align: left; /* Вирівнює текст по лівому краю */
  }
  
  .store-image {
    width: 500px; /* ширина зображення, змініть за потреби */
    height: auto;
    border-radius: 5px;
    margin-left: 4%;
  }